body{
    box-sizing: border-box
    margin=0;
}
.main_container{
    max-width: 1600px;
    height: 2000px;
    margin:0 auto;
    position: relative;
    z-index: 0;
    
}
.wallpaper{
    width: 100%;
    height: 2000px;
}
.tittle_mine{
    font-family: 'rotu';
    font-size: 5em;
    color: rgb(29, 128, 215);
    

    
}
.container_text{
    width: 1200px;
    margin: 0 auto;
    position: relative;
    bottom: 2000px;
    z-index: 1;
    color:rgb(111, 205, 111);
    
}
.txt_mine{
    font-size: 2.5em;
    line-height: 1.7;
}
