.container_main{
  background-image:url(../assets/images/fondohuesos.jpg);
  max-width: 2000px;
  height: 1300px;
  margin: 0 auto;
  display: block;
  padding-top: 150px;
}
.form__container{
  background-image: url(../assets/images/hocico.jpg);
  margin: 0 auto;
  width: 75%;
  height: auto;
  background-repeat: no-repeat;
  background-size: cover;
  box-shadow: 10px 10px 33px 0px black;
}
.form__contact {
  max-width: 650px;
  padding: 20px;
  border-radius: 5px;
 
}
.form__tittle{
  text-align: center;
  font-size: 30px;;
  color: #fff;
}
.form {
  display: flex;
  flex-direction: column;
  color: white;
  font-size: 2em;
}
.label {
  font-size: 30px;
  color: #ef4141;
  margin-bottom: 10px;
}

.field{
  font-size: 25px;
  padding: 10px;
  border: none;
  border-radius: 5px;
  background-color: transparent;
  margin-bottom: 20px;
  color:white; 
}
.change{
  display: block;
  width: 500px;
  

}
.change--button{
  margin: 0 auto;
}
.field--file{
  font-size:30px;

}

.txtarea {
  height: 150px;
  font-size: 25px;
  padding: 10px;
  border: none;
  border-radius: 5px;
  background-color: #a68686;
  margin-bottom: 20px;
}

.button{

  background-color: brown;
  margin: 0 auto;
  font-size: 1em;
  border-radius: 10px;
  width: 200px;
  margin: 10px;
  
  }
